/* *{
  padding-top:1px;
} */

.color-picker{
  display: flex;
  gap: 5px;
  align-items: center;
  width: 190px;
  justify-content: center;
}

.alert{
  width: 1000%;
  text-align: center;
  border: 2px solid #212529;
  border-radius: 40px;
}
.alert-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  height: 60px;
}
.form-control{
  border: 2px solid black;
  border-radius: 20px;
}
.heading{
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my styling in jsx */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.2rem;
  background-color: lightslategray;
}
